.glassesMain{
    margin-bottom: 1.88235rem;
    padding-top: 0px;
}

#picClass{
    height: 237px;
    width:212px;
}
.guessBoxContainer{
    background-image:url(assets/images/polkadot.jpg);
    color: white;
    font-size: 35px;
    font-family:'Pacifico', 'Cursive';
    width: 960px;
    right: 0;
    padding: 28px 5px;
    padding-bottom: 10px;
    border-top: 1px solid wheat;
    position: absolute;
    top:11px;
    min-height: 650px;
    padding-top: 0;
    border: 2px solid white;

}

.text-align-center{
    text-align: center;
}
.body{
    background-color:wheat;
}
.left{
    background:url(assets/images/polkadot.jpg);
    width: 480px;
    color:white;
    font-size: 30px;
    font:bold;
    padding: 28px 5px;
    padding-bottom: 10px;
    border-top: 1px solid wheat;
    position: absolute;
    top:11px;
    min-height: 650px;
    padding-top: 0;
    border:2px solid white;
    font-family:'Pacifico', 'Cursive';

}
.question{
    align-items: left;
    margin-left: 10px;
    margin-right:100px;

}
#question{

    box-align: left;
}

#status{

    align-content: left;
    margin: 16px 16px 16px 16px;
}
.row{
    padding:28px 5px;
}
#pictureDisplay{
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    width: 350px;
}





